* {
    box-sizing: border-box;
    margin:0;
    padding:0;
  }

ul{
    list-style: none;
}

a{
    text-decoration: none;
}


body {
    /* font-family: 'Lucida Sans', sans-serif; */
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #a1c3ff;
    display:flex;
    min-height: 100vh;
    flex-direction: column;
    flex-wrap: wrap;
}

header{
    height:20vh;
}
.content_bbl .container{
    height: 75vh;
    display: flex;
    flex:1
}
.footer_bbl{
    height: 5vh;
}

